@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

:root{
  --navbar-color: #3A3F7A;
  --navbar-text-color: #FAF7F0;
  --footer-color:#5E617A;
  --footer-text-color: #FAF7F0;
  --background-color:#e8e7ec;
  --title-color: #3A2E61
  --text-color:#504B61
  --title: "Merriweather";
  --general-text: "IBM Plex Sans";
  
}

.container-fluid{
  background-color: var(--background-color);
}

.navbar-bg{
  background-color: var(--navbar-color) !important;
}

.logo{
  margin-left: 5px;
  font-family: reenie beanie;
  font-size: 25px;
  letter-spacing: 2px;
  color: var(--navbar-text-color)
}

.link{
 font-family: IBM Plex Sans;
 font-size: 16px;
 letter-spacing:2px;
 color: var(--navbar-text-color);
}

.portfolio-nav-link,.contact-nav-link {
  font-family:Ibm plex sans;
  text-decoration: none;
 
 
  padding: 7px;
  color: var(--navbar-text-color);
}


#contact:hover, #portfolio:hover {
  color:white ;
}


.intro {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text{
  margin: 35px;
  font-family: Merriweather;
  letter-spacing: 2px;
  color: var(--title-color)
}

.sub-intro-text{
  font-family: IBM Plex Sans;
  letter-spacing: 2px;
  padding:15px;
}

.intro-button{
  margin-top: 20px;
  padding: 15px;
  background-color: var(--navbar-color);
  font-family: ibm plex sans;
  font-size: 18px;
  border: 1px solid;
}

.intro-button:hover{
  background-color: #e8e7ec;
  color: #3A3F7A;
  border: 1px solid #3A3F7A;
}

.intro-images{
  
    width: 65%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.background-color-card{
  background-color: var(--navbar-color);
}

.intro-images-text{
  font-family: reenie beanie;
  font-size: 25px;
  color: var(--navbar-text-color);
}

.divider{
  margin-top: 80px;
}

.profile-image{
 width: 100%;
 border-radius: 10%;
 box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.intro-about {
  margin-top: 60px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  
}

.intro-about-description-text{
  
  font-family: ibm plex sans;
  font-size: 15px;
  letter-spacing: 1px;
  line-height:2rem;
  
}

.about-button{
  display: block;
  margin: 0 auto;
  padding: 15px;
  background-color: var(--navbar-color);
  font-family: ibm plex sans;
  font-size: 18px;
  border: 1px solid;
  color: var(--navbar-text-color);
  border-radius:5px;
}

.about-button:hover{
  background-color: #e8e7ec;
  color: #3A3F7A;
  border: 1px solid #3A3F7A;
}

.intro-contact{
  padding: 30px;
  margin-top: 60px;
}

.intro-contact-description-text{
  text-align: center;
  font-family: ibm plex sans;
  font-size: 15px;
  letter-spacing: 1px;
  line-height:2rem;
  
}

.contact-button{
  display: block;
  margin: 0 auto;

  padding: 15px;
  background-color: var(--navbar-color);
  font-family: ibm plex sans;
  font-size: 18px;
  border: 1px solid;
  color: var(--navbar-text-color);
  border-radius:5px;
}

.contact-button:hover{
  background-color: #e8e7ec;
  color: #3A3F7A;
  border: 1px solid #3A3F7A;
}

footer{
  
  margin-top: 100px;
  background-color: var(--footer-color);
}

.footer-link{
  text-decoration: none;
  font-family: ibm plex sans;
  letter-spacing: 2px;
  color: var(--footer-text-color);
  font-size: 12px;
}

.footer-link:hover{
  text-decoration:underline;
}

.footer-text{
  
  color: var(--footer-text-color);
  font-family:ibm plex sans;
  letter-spacing:2px;
}


@media (max-width: 800px) {
 .intro-text, .sub-intro-text, .intro-button{
  margin-top:15px;
 }

 .intro-images{
  display: none;
 }

 .intro-about{
  margin-top: 10px;
 }

  .profile-image{
    display: block;
    margin: 0 auto;
  width: 70%;
  }
  .intro-about-description-text{
    margin-top: 10px;
  }

  .about-button, .intro-contact{
    margin-top: 0px;
  }
}

@media (max-width:426px) {
  .intro-text, .sub-intro-text, .intro-button{
    margin-top:0px;
  }

  .intro-text{
    text-align: center;
    font-size:18px;
  }

  .sub-intro-text{
    margin-top: 0px;
    font-size: 15px;
    text-align: center;
  }

  
  
  .profile-image{
    display: none;
  }
  .intro-about-description-text,.intro-contact-description-text{
    text-align: left;
  }

  .intro-button,.about-button, .contact-button{
    margin-top: 0px;
    font-size: 15px;
    padding: 12px;
  }

}