@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

:root {
  --navbar-color: #3a3f7a;
  --navbar-text-color: #faf7f0;
  --footer-color: #5e617a;
  --footer-text-color: #faf7f0;
  --background-color: #e8e7ec;
  --title-color: #3a2e61;
  --text-color: #504b61;
  --title: "Merriweather";
  --general-text: "IBM Plex Sans";
}

.navbar-bg {
  background-color: var(--navbar-color) !important;
}

.logo {
  margin-left: 5px;
  font-family: reenie beanie;
  font-size: 25px;
  letter-spacing: 2px;
  color: var(--navbar-text-color);
}

.link {
  font-family: IBM Plex Sans;
  font-size: 16px;
  letter-spacing: 2px;
  color: var(--navbar-text-color);
}

.portfolio-nav-link,
.contact-nav-link {
  font-family: Ibm plex sans;
  text-decoration: none;

  padding: 7px;
  color: var(--navbar-text-color);
}

#contact:hover,
#portfolio:hover {
  color: white;
}

.title,
.contact-form-title {
  font-family: Merriweather;
  text-align: center;
  letter-spacing: 2px;
}

.text {
  margin-top: 35px;
  font-family: ibm plex sans;
  letter-spacing: 2px;
  line-height: 2em;
}

.form-group {
  text-align: center;
  padding: 10px;
  font-family: ibm plex sans;
  letter-spacing: 2px;
}

.form-control {
  text-align: center;
}

.form-text-area {
  background-color: #3a3f7a;
}

.form-info-area {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 0 auto;
  background-color: var(--title-color);
  color: var(--navbar-text-color);
  padding: 10px;
  border-radius: 5px;
  font-family: merriweather;
  letter-spacing: 2px;
}

.button:hover {
  background-color: var(--navbar-text-color);
  color: var(--title-color);
}

footer {
  margin-top: 100px;
  background-color: var(--footer-color);
}

.footer-link {
  text-decoration: none;
  font-family: ibm plex sans;
  letter-spacing: 2px;
  color: var(--footer-text-color);
  font-size: 12px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-text {
  color: var(--footer-text-color);
  font-family: ibm plex sans;
  letter-spacing: 2px;
}
